.container {
  max-width: 500px;
  min-height: 300px;
  margin: 30px auto;
  overflow: auto;
  border: 2px solid chartreuse;
  color: #fff;
  padding: 30px;
  border-radius: 10px;

}

button {
  padding: 10px;
  position: absolute;
  width: 150px;
  left: calc(50% - 75px)
}

